body {
    background-image: url("../img/img.jpg") ;
    background-size:100% 100%;
    background-attachment:fixed;
}

.el-descriptions__body .el-descriptions__table .el-descriptions-item__cell {
    text-align: center;
    font-size: 15px;
}

.el-collapse-item__header {
    font-size: 20px;
    color: #416ae2;
}

.el-collapse-item__content {
    font-size: 15px;
}

.el-tree-node__label {
    font-size: 18px;
    color: darkblue;
    white-space: pre-line;

}

.el-carousel__item h3 {
    color: #b3e19d;
    font-size: 14px;
    opacity: 0.75;
    line-height: 150px;
    margin: 0;
}

.el-carousel__item:nth-child(2n) {
    background-color: #2165b0;
}

.el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
}

.block {
    width: 500px;
}

.shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04)
}









